
@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/pacifico-v22-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v34-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v34-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v34-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
